extends layout 

block contenido 
    //--Seccion gafas--//
    section.Seccion.gafas
    h2 Algunas de nuestras Gafas 
    .contenedorGafa
        .contenedor.contenedorProductos 
            .Producto 
                .Imagen 
                    img(src="img/gafa1.jpg", alt="gafa 1")
                    h3 Polarizada Tommy Hilfiger 
                    p Gafa con filtro polarizado y proteccion UV. Incluye: Estuche, pano, Tarjeta Probador de polarizado.<br> Precio:$65.000
            .Producto 
                .Imagen 
                    img(src="img/gafa2.jpg", alt="gafa 2")
                    h3 Polarizada Ralph Lauren 
                    p Gafa con filtro polarizado y protección UV. Incluye: Estuche, pano, Tarjeta Probador de polarizado.<br> Precio:$65.000
            .Producto 
                .Imagen 
                <br>
                    img(src="img/gafa4.jpg", alt="gafa 4")
                    h3 Gafa Polarizada Fox
                    p Gafa con filtro polarizado y protección UV. Incluye: Estuche, pano, Tarjeta Probador de polarizado.<br> Precio:$65.000
        
    //--Seccion galeria--//
    section.Seccion.Galeria
    h2 Galeria 
    .Contenedor.ContenedorImagenes 
        img.ImgGal(src="/img/gafa3.jpg", alt="gafa 3")
        img.ImgGal(src="/img/gafa5.jpg", alt="gafa 5")
        img.ImgGal(src="/img/gafa6.jpg", alt="gafa 6")
        img.ImgGal(src="/img/gafa7.jpg", alt="gafa 7")
        img.ImgGal(src="/img/gafa8.jpg", alt="gafa 8")
        img.ImgGal(src="/img/gafa9.jpg", alt="gafa 9")

    //--Seccion Parallax--//
    section.Seccion.ContenedorPantalla.parallax
        .backgroundPantalla     
            .Contenedor.ContenedorTexto 
                h2 Disfruta del mejor estilo y moda en Gafas de sol, Monturas para lentes formulados y Gafas para ciclismo.
    //--Seccion Informacion--//

    section.Seccion.Info
        h2 Informacion Importante 
        .Contenedor.ContInfoTienda 
            .InformacionDiv 
                .Borde 
                    p Envios Nacionales a traves de Interrapidisimo.
            .InformacionDiv 
                .Borde 
                    p Productos de alta calidad.
            .InformacionDiv 
                .Borde 
                    p Aceptamos cualquier medio de pago.




                    
               
                    
                    
                 
                   

