extends layout 

block contenido
    h2 Iniciar Sesión
    .FormularioDiv 
        form(action="/iniciar-sesion", method="post" class="FormDefault") 
            div.Campo
                label(for="Email") Email: 
                input(type="email", name="Email" placeholder="Email")
            div.Campo
                label(for="Contraseña") Contraseña: 
                input(type="password", name="Contraseña" placeholder="Tu Contraseña")
            .Campo.left 
                button.Boton
                    span Iniciar Sesión 
            .Campo.Acciones 
                a(href="/crear-cuenta") ¿Aun no tienes Cuenta? Crea una gratis! 
                a(href="reestablecer") ¿Olvidaste tu Contraseña?

    