doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Accesorios 3J Herrera

        header.Header 
            div.Index(class='contenedorHeader')
                .barra.barraInicio 
                    a(href="/")
                        h1 Accesorios 3J Herrera
                    nav.MenuNavegacion
                        li.liMenu
                            a.menuLink(href="/Tienda") Productos
                        li.liMenu
                            a.menuLink(href="/promociones") Promociones
                        li.liMenu
                            a.menuLink(href="/iniciar-sesion") Mi cuenta

                h1.Titulo Gafas en Promoción!!

    body 
        block contenido

    footer 
        p &copy Todos los derechos reservados Jhon Herrera 2024